@import "../../../sass/main.scss";

.BackgroundImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.TextArea {
    resize: auto;
}
