.login-page {
    font-size: 1rem;
    text-align: center;
}

.login-form.ant-form {
    max-width: 50rem;
    margin: 2rem auto 2.6rem;
    padding: 4.5rem 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.26);
}

.login-form-forgot {
    float: left;
}

.login-form-button {
    float: right;
}

.input-icon {
    color: rgba(0, 0, 0, 0.25);
}

.error-message {
    color: #f5222d;
    margin-top: 2rem;
}

.ant-form-explain {
    min-height: 0;
}

.ant-form-item {
    margin-bottom: 1rem;
}
